PORT=3000
CORS_ORIGIN=https://aero-lock-web.vercel.app,http://localhost:3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/aerolock?schema=public"
REDIS_HOST=localhost
REDIS_PORT=6379

DB_NAME=aerolock
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
